appnope
boto3
botocore
decorator
Django
django-js-asset
https://github.com/darklow/django-suit/tarball/v2
django-storages
django-taggit
docutils
ipython
ipython-genutils
jedi
jmespath
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
python-dateutil
python-decouple
pytz
s3transfer
simplegeneric
six
sqlparse
traitlets
wcwidth
